<div class="inline {{ class }} poll-inline">
    <form action="{{ obj.get_absolute_url }}results/" method="post">
        <h3>{{ obj.question }}</h3>
        {% for choice in obj.get_choice_list %}
            <p><input type="radio" name="choice" id="poll_choice_{{ forloop.counter }}" value="{{ choice.id }}" /> <label for="poll_choice_{{ forloop.counter }}">{{ choice.choice }}</label></p>
        {% endfor %}
        <p><input type="image" value="Vote!" src="http://media.dailybruin.com/dailybruin/img/icons/vote.gif" /></p>
    </form>
    <p><a href="{{ obj.get_absolute_url }}results/">See the results without voting</a>.</p>
</div>
